<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.core.vibration"
      version="0.1.0">

    <name>vibration</name>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="wp-package" value="Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Vibration.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="wp-package" value="Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Vibration.cs" />
    </platform>
</plugin>
