<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.core.vibration"
      version="0.2.0">

    <name>Vibration</name>
    <description>Cordova Vibration Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,vibration</keywords>

    <js-module src="www/vibration.js" name="notification">
        <merges target="navigator.notification" />
    </js-module>
        
    <!-- firefoxos -->
    <platform name="firefoxos">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="firefoxos-package" value="Vibraton" />
            </feature>
        </config-file>                                         
        
        <source-file src="src/firefoxos/vibration.js" />
        
    </platform>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="wp-package" value="Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Vibration.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="wp-package" value="Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Vibration.cs" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Vibration">
                <param name="android-package" value="org.apache.cordova.vibration.Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/android/Vibration.java" target-dir="src/org/apache/cordova/vibration" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="ios-package" value="CDVVibration"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVVibration.h" />
	    <source-file src="src/ios/CDVVibration.m" />
		
		<framework src="AudioToolbox.framework" weak="true" />
    </platform>

</plugin>
